body{
  margin:0;
  padding:0;
  font-family: 'Roboto Condensed', sans-serif;
  background: #fcfffc;
}
/* navbar */
.sidebar{
  height:100vh;
  background: rgba(9, 9, 85, 0.644);
  background:linear-gradient(to bottom,#4b00e0f8, #009FFF);

  color:#fff;
  box-shadow: 4px 6px 7px gray;
  opacity: 2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.custom{
  /* background:linear-gradient(to right,#4b00e0f8, #009FFF); */
  background:linear-gradient(to bottom,#4b00e0f8, #009FFF);


}

ul{
  margin:0;
  padding:0;
  list-style-type: none;
}
.pay-bg{
  background:#999;
  padding:1rem;
}
.search-input{
  background: transparent;
  border:none;
  width:100px !important;
  border-radius:0;
  border-bottom: 2px groove #fff;
  transition: all .5s;
}
.search-input:focus{
  background: transparent;
  box-shadow: none;
  border-bottom:2px solid rgb(15, 68, 129);
}
.search-button{
  border-radius: 50%;
  padding:10px 12px;
  transition: all .5s;
}
.search-button:hover{
  background: #ccc;
  transform: translateY(-1px);
}
.icon-parent{
  position: relative;
}
.icon-bullet::after{
  content: "";
  position: absolute;
  top:7px;
  left:15px;
  height:12px;
  width:12px;
  background: #f44336;
  border-radius: 50%;
}

.sidebar-link{
  transition: all .5s ease-in-out;
}
.sidebar-link:hover{
  background:rgb(15, 82, 206);
  border-radius: 10px;
}
.current{
  background:rgb(27, 167, 214);
  border-radius: 7px;
  box-shadow: 2px 5px 10px #111;
  transition: all .5s ease-in;

}
.current:hover{
  background:lightskyblue;
  border-radius:7px;
  box-shadow: 2px 5px 20px #111;
  transform: translateY(-3px);
}
/* card */
.card-common{
  box-shadow:1px 2px 5px #999;
  transition: all .4s;
}
.card-common:hover{
  transform: translateY(-1px);
  box-shadow: 1px 2px 5px #ccc;
}
/* end of tasks */

#tasks{
  height:700px;
  background: rgb(27, 167, 214);
}
.filter{
  background:linear-gradient(to right,#4b00e0f8, #009FFF);
  padding:2rem;
  border-radius: 10px;
  opacity: 1;
}
h5{
  font-size:16px;
  font-weight: bold;
  text-transform: capitalize;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.try{
  display:flex;
}
#first{
  /* background-color: rgb(47, 154, 255); */
  padding-bottom:30px;
}
img{
  height:150px;
  width:150px;
}

.custom-form{
  width:70%;
  /* border:2px solid lightblue; */
  border-radius: 10px;
  margin:0 auto;
  padding:2rem;
  background:linear-gradient(to right,#0e0d0ff8, rgba(1, 14, 22, 0.87));
  background: #fff;
  box-shadow: 1px 2px 7px rgb(7, 6, 6);
  /* color:rgb(252, 252, 252); */
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  opacity:2;
}

/* post content area */

  .main-post{
    /* background: rgb(120, 150, 120); */
    padding:1rem;
  }
  
/* end of post content */
@media (max-width:760px){
  .sidebar{
    position: static;
    height:auto;
  }
  .top-navbar{
    position: static;
  }
}